<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap"
        rel="stylesheet">
    <title>Trans Urban Design Construction</title>
</head>

<body>
    <div class="nav_menu">
        <div class="log">
            <img src="/img/logo_nav_menu.png" alt="logo_nav_menu" class="logo_img">
        </div>
        <nav class="nav_item">
            <ul class="nav_item_list">
                <li><a class="menu_item" href="#">Features</a></li>
                <li><a class="menu_item" href="#">Pricing</a></li>
                <li><a class="menu_item" href="#">Company</a></li>
                <li><a class="menu_item" href="#">Contact us</a></li>
            </ul>
        </nav>
    </div>

    <content class="content">
        <div class="container">
            <div class="bg_image"></div>
            <div class="content_title">Imagine it and we will build it</div>
            <div class="content_text">Building dreams using modern technology</div>
            <div class="button">
                <button>get started</button>
            </div>
        </div>
    </content>

    <div class="philosofy">
        <div class="contaiwner">
            <div class="philosofy_title">Our Philosophy</div>
            <div class="philosofy_text">
                <p>Combining Modern technology with the finest technology
                    that exists to build your state of the art dream with a
                    fully documented thought process.</p>
            </div>
            <div class="button">
                <button>get started</button>
            </div>
        </div>
    </div>

    <div class="working_dynamics">
        <div class="container">
            <div class="working_dynamics_title">Our Working Dynamics</div>
            <div class="working_dynamics_content">

                <div class="dynamics_item">
                    <div class="dynamics_item_title">working together with you</div>
                    <div class="dynamics_item_text">
                        <p>Working Together with you
                            Combining Modern technology with the
                            finest technology that exists to build your
                            state of the art dream with a fully.</p>
                    </div>
                </div>
                <div class="dynamics_item">
                    <div class="dynamics_item_title">working together with you</div>
                    <div class="dynamics_item_text">
                        <p>Working Together with you
                            Combining Modern technology with the
                            finest technology that exists to build your
                            state of the art dream with a fully.</p>
                    </div>
                </div>
                <div class="dynamics_item">
                    <div class="dynamics_item_title">working together with you</div>
                    <div class="dynamics_item_text">
                        <p>Working Together with you
                            Combining Modern technology with the
                            finest technology that exists to build your
                            state of the art dream with a fully.</p>
                    </div>
                </div>
                <div class="dynamics_item">
                    <div class="dynamics_item_title">working together with you</div>
                    <div class="dynamics_item_text">
                        <p>Working Together with you
                            Combining Modern technology with the
                            finest technology that exists to build your
                            state of the art dream with a fully.</p>
                    </div>
                </div>
                <div class="dynamics_item">
                    <div class="dynamics_item_title">working together with you</div>
                    <div class="dynamics_item_text">
                        <p>Working Together with you
                            Combining Modern technology with the
                            finest technology that exists to build your
                            state of the art dream with a fully.</p>
                    </div>
                </div>
                <div class="dynamics_item">
                    <div class="dynamics_item_title">working together with you</div>
                    <div class="dynamics_item_text">
                        <p>Working Together with you
                            Combining Modern technology with the
                            finest technology that exists to build your
                            state of the art dream with a fully.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <footer class="footer">
        <div class="footer_copyright"> copiryght by Alex 2020</div>
    </footer>

</body>
<script src="/js/script.js"></script>

</html>