body {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    color: #6c7279;
    background-color: #ffffff;
}

*, *:before, *:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* Containerselector======= */

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

/* Header++++++++++++++++++++ */

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 38px 0;
    border-bottom: 1px solid #505269;
}

/* Nav++++++++++++++++++++ */

.nav {
    display: flex;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 59px;
    color: #ffffff;
    text-decoration: none;
    opacity: .75;
    transition: opacity 0.2s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

/* Intro++++++++++++++++++++ */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    height: 750px;
    background: #2e314b url("img/intro.jpg") center no-repeat;
    background-size: cover;
    color: #ffffff;
}

.intro__inner {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    text-align: center;
}

.intro__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 65px;
    line-height: 1.1;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 40px;
}

.intro__subtitle {
    font-family: 'Raleway', sans-serif;
    opacity: 0.75;
    font-size: 22px;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 70px;
}

/* Button++++++++++++++++++++ */

.btn {
    display: inline-block;
    vertical-align: top;
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
    transition: opacity 0.1s linear;
}

.btn--red {
    background-color: #e84545;
}

.btn--red:hover {
    background-color: #e84545;
    opacity: 0.75;
}

/* Features++++++++++++++++++++ */

.features {
    display: flex;
    flex-wrap: wrap;
    margin: 90px 0;
}

.features__item {
    width: 33.33333%;
    text-align: center;
    padding: 0 40px;
    margin: 25px 0;
}

.features__icon {
    margin-bottom: 30px;
}

.features__title {
    margin-bottom: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

.features__text {
    font-weight: 400;
    line-height: 1.5;
}

/* works++++++++++++++++++++ */

.works {
    display: flex;
    flex-wrap: wrap;
}

.works__item {
    width: 25%;
    height: 350px;
    font-size: 14px;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    border: 1px solid #ffffff;
}

.works__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate3d(-50%, -50%, 0);
    min-width: 100%;
}

.works__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #e84545;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.works__content:hover {
    opacity: 0.7;
    transition: opacity 0.2s linear;
}

.works__title {
    margin-bottom: 5px;
    font-weight: 700;
    text-transform: uppercase;
}

.works__text {
    font-weight: 400;
}

/* Team++++++++++++++++++++ */

.team {
    margin: 100px 0 70px;
}

.team__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 25%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.team__photo {
    margin-bottom: 30px;
    display: block;
    width: 100%;
    height: auto;
}

.team__title {
    margin-bottom: 16px;
    color: #2d3033;
    font-size: 22px;
    font-weight: 400;
}

.team__subtitle {
    margin-bottom: 25px;
    color: #e84545;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
}

.team__text {
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 1.5;
}

.team__social {}

/* Social++++++++++++++++++++ */

.social {
    display: flex;
}

.social--footer {
    justify-content: center;
}

.social__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #e8ecee;
    margin-right: 4px;
    transition: background-color 0.1s linear;
}

.social--footer .social__link {
    border-width: 2px;
    border-color: #ffffff;
}

.social__link:hover {
    background-color: #e8ecee;
}

.social--footer .social__icon {
    fill: #ffffff;
}

.social--footer .social__link:hover .social__icon {
    fill: #3a3e64;
}

.social__icon {
    display: block;
    fill: #c6cacc;
    height: 19px;
    transition: fill 0.1s linear;
}

.social__link:hover .social__icon {
    fill: #ffffff;
}

/* Testimonials++++++++++++++++++++ */

.testimonials {
    background-color: #53354a;
}

.testimonials__inner {
    display: flex;
    flex-wrap: wrap;
}

.testimonials__photo {
    position: relative;
    width: 50%;
    height: 500px;
}

.testimonials__img {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 1;
    transform: translateY(-50%);
}

.testimonials__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding-left: 80px;
}

.testimonials__text {
    color: #ffffff;
    font-family: 'Cardo', serif;
    font-size: 36px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.testimonials__author {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}

/* Download++++++++++++++++++++ */

.download {
    margin: 100px 0;
}

.download__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.download__title {
    color: #2d3033;
    font-size: 28px;
    font-weight: 300;
    line-height: 0.75;
    margin-bottom: 16px;
}

.download__subtitle {
    margin-bottom: 35px;
    color: #2d3033;
    font-size: 13px;
    font-weight: 700;
    line-height: 1.61;
    text-transform: uppercase;
}

.btn--down {
    padding: 15px 65px;
}

/* footer++++++++++++++++++++ */

.footer {
    background-color: #3a3e64;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 75px 0;
}

.footer__block {
    text-align: center;
    width: 33.3333%;
    padding: 0 10px;
}

.footer__title {
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 18px;
}

.footer__adress {
    opacity: 0.5;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.5;
    font-style: normal;
}

.footer__text {
    opacity: 0.5;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.5;
}

.footer__text p {
    margin: 0;
}

/* Copyright++++++++++++++++++++ */

.copyright {
    background-color: #313454;
    padding: 30px 0;
}

.copyright__text {
    text-align: center;
    color: #808080;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}

.copyright__text span {
    color: #a8aab7;
    font-weight: 500;
}

/* Burger++++++++++++++++++ */

.burger {
    display: none;
    cursor: pointer;
    background: none;
    border: 0;
    padding: 10px 2px;
}

.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    font-size: 0;
    color: transparent;
    position: relative;
}

.burger__item::before, .burger__item::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
}

.burger__item::before {
    bottom: 8px;
}

.burger__item::after {
    bottom: -8px;
}

/* Media++++++++++++++++++++ */

@media(max-width:991px) {
    /* header */
    .nav {
        display: none;
    }
    .burger {
        display: block;
    }
    /* intro */
    .intro__title {
        font-size: 40px;
    }
    /* features */
    .features__item {
        width: 50%;
    }
    /* works */
    .works__item {
        width: 50%;
    }
    /* Team */
    .team__item {
        width: 50%;
        text-align: center;
    }
    .social {
        justify-content: center;
    }
    /* testimonilas */
    .testimonials__photo {
        width: 100%;
        margin: 15px 0 40px;
        overflow: hidden;
    }
    .testimonials__content {
        width: 100%;
        padding-left: 0;
    }
    .testimonials__text {
        margin-bottom: 10px;
    }
    .testimonials__author {
        padding-bottom: 20px;
    }
}

@media(max-width:767px) {
    /* intro */
    .intro {
        height: auto;
        padding: 130px 0 30px 0;
    }
    .intro__title {
        font-size: 30px;
    }
    .intro__subtitle {
        font-size: 17px;
        margin-bottom: 30px
    }
    /* features */
    .features__item {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    /* works */
    .works__item {
        width: 100%;
        height: 300px;
    }
    /* Team */
    .team {
        margin: 62px 0;
    }
    .team__item {
        width: 100%;
    }
    /* testimonials */
    .testimonials__text {
        font-size: 25px;
    }
    /* Download */
    .download {
        margin: 50px 0;
    }
    .download__inner {
        text-align: center;
    }
    .download__title {
        line-height: 1;
    }
    .download__subtitle {
        margin-bottom: 25px;
    }
    .btn--down {
        padding: 15px 40px;
    }
    /* footer */
    .footer__inner {
        padding: 10px 0;
    }
    .footer__block {
        width: 100%;
        padding: 0 0 15px 0;
    }
    .footer__title {
        margin-bottom: 5px;
        font-size: 13px;
    }
    /* copyright */
    .copyright{
        padding: 10px 0;
    }
    .copyright__text {
        font-size: 12px;
    }
}
@media(max-width:414px) {
    /* testimonials */
    .testimonials__img{
        right: -100px;
    }
}