/* Error: Undefined variable.
 *    ,
 * 37 | html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;}
 *    |                                                        ^^^^^^^^^
 *    '
 *   style.scss 37:56  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined variable.\a    \2577 \a 37 \2502  html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;}\d\a    \2502                                                         ^^^^^^^^^\a    \2575 \a   style.scss 37:56  root stylesheet";
}
