<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wg</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">

</head>

<body>
    <div class="intro">
        <div class="intro__inner">

            <div class="intro__logo">
                <img src="./img/intro_logo.png" alt="">
            </div>
            <h1 class="intro__title">
                Be sure you put your feet
                <span>in the right place</span>
            </h1>
            <div class="intro__zipCode">

                <input type="text" class="zip__code" placeholder="Enter your zip code">

                <div class="zipcode__icons">
                    <div class="zipcode__icons__top">
                        <div class="zipcode__item">
                            <img src="./img/zipcode__img/img1.jpg" class="zipcode__img" alt="">
                        </div>
                        <div class="zipcode__item">
                            <img src="./img/zipcode__img/img2.jpg" class="zipcode__img" alt="">
                        </div>
                        <div class="zipcode__item">
                            <img src="./img/zipcode__img/img3.jpg" class="zipcode__img" alt="">
                        </div>
                        <div class="zipcode__item">
                            <img src="./img/zipcode__img/img4.jpg" class="zipcode__img" alt="">
                        </div>
                        <div class="zipcode__item">
                            <img src="./img/zipcode__img/img6.jpg" class="zipcode__img" alt="">
                        </div>
                    </div>
                    <div class="zipcode__icons__bottom">
                        <div class="zipcode__item">
                            <img src="./img/zipcode__img/img7.jpg" class="zipcode__img" alt="">
                        </div>
                        <div class="zipcode__item">
                            <img src="./img/zipcode__img/img8.jpg" class="zipcode__img" alt="">
                        </div>
                        <div class="zipcode__item">
                            <img src="./img/zipcode__img/img9.jpg" class="zipcode__img" alt="">
                        </div>
                        <div class="zipcode__item">
                            <img src="./img/zipcode__img/img10.jpg" class="zipcode__img" alt="">
                        </div>
                        <div class="zipcode__item">
                            <img src="./img/zipcode__img/img11.jpg" class="zipcode__img" alt="">
                        </div>
                    </div>
                </div>

                <div class="zipcode__text">This is Photoshop's version of Lorem Ipsum. </div>
                <button class="zipcode__button">Press me</button>

            </div><!-- ./intro__zipCode -->

        </div><!-- ./ intro__inner -->
    </div>
</body>

</html>