<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="assets/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Montserrat:400,700|Roboto:300i&display=swap"
        rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/v4-shims.css">
    <title>Mogo</title>
</head>

<body>

    <header class="header " id="header">
        <div class="container">
            <div class="header_inner">
                <a class="header_logo" data-scroll="#intro">MoGo</a>
                <nav class="nav" id="nav">
                    <a class="nav_link " href="#" data-scroll="#about">About</a>
                    <a class="nav_link " href="#" data-scroll="#service">service</a>
                    <a class="nav_link " href="#" data-scroll="#work">work</a>
                    <a class="nav_link" href="#" data-scroll="#blog">blog</a>
                    <a class="nav_link" href="#" data-scroll="#contact">contact</a>
                    <a class="nav_link" href="#" data-scroll="#shopping">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <a class="nav_link" href="#" data-scroll="#search">
                        <i class="fas fa-search"></i>
                    </a>

                </nav>
                <button class="nav-togle " type="button">
                    <span class="nav-togle__item">Menu</span>
                </button>
            </div>
        </div>
    </header>

    <div class="intro" id="intro">
        <div class="container">
            <div class="intro__inner">
                <h2 class="intro__toptitle">Creative Template</h2>
                <h1 class="intro__title">
                    Welcome <br>
                    to MoGo</h1>
                <a class="btn" id="learn_more">Learn More</a>
            </div>
        </div>

        <div class="slider">
            <div class="container">
                <div class="slider__inner">
                    <div class="slider__item active">
                        <span class="slider__num">01</span>
                        <span class="slider__text">Intro</span>
                    </div>
                    <div class="slider__item">
                        <span class="slider__num">02</span>
                        <span class="slider__text">Work</span>
                    </div>
                    <div class="slider__item">
                        <span class="slider__num">03</span>
                        <span class="slider__text">About</span>
                    </div>
                    <div class="slider__item">
                        <span class="slider__num">04</span>
                        <span class="slider__text">Contacts</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <section class="section" id="about">
        <div class="container">

            <div class="section__header">
                <h3 class="section__subtitle">What we do</h3>
                <h2 class="section__title">Story about us</h2>
                <div class="section__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>

            <div class="card">
                <div class="card__item">
                    <div class="card__inner">
                        <div class="card__img">
                            <img src="./assets/images/about/img_1_section.jpg" alt="#">
                        </div>
                        <div class="card__text">Super Team</div>
                    </div>
                </div>
                <div class="card__item">
                    <div class="card__inner">
                        <div class="card__img">
                            <img src="./assets/images/about/img_3_section.jpg" alt="#">
                        </div>
                        <div class="card__text">Super Team</div>
                    </div>
                </div>
                <div class="card__item">
                    <div class="card__inner">
                        <div class="card__img">
                            <img src="./assets/images/about/img_2_section.jpg" alt="#">
                        </div>
                        <div class="card__text">Super Team</div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <div class="statistics">
        <div class="container">
            <div class="stat">
                <div class="stat__item">
                    <div class="stat__number">42</div>
                    <div class="stat__text">Web Design Projects</div>
                </div>
                <div class="stat__item">
                    <div class="stat__number">123</div>
                    <div class="stat__text">happy client</div>
                </div>
                <div class="stat__item">
                    <div class="stat__number">15</div>
                    <div class="stat__text">award winner</div>
                </div>
                <div class="stat__item">
                    <div class="stat__number">99</div>
                    <div class="stat__text">cup of coffee</div>
                </div>
                <div class="stat__item">
                    <div class="stat__number">24</div>
                    <div class="stat__text">members</div>
                </div>
            </div>
        </div>
    </div>

    <section class="section" id="service">
        <div class="container">

            <div class="section__header">
                <h3 class="section__subtitle">We work with</h3>
                <h2 class="section__title">Amazing Services</h2>
            </div>

            <div class="services">

                <div class="services__item services__item--border">
                    <img class="services__icon" src="./assets/images/services/ALARM_icon.png" alt="#">
                    <div class="services__title">Photography</div>
                    <div class="services__text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod
                        tempor.
                    </div>
                </div>
                <div class="services__item services__item--border">
                    <img class="services__icon" src="./assets/images/services/LINE_GRAPH_icon.png" alt="#">
                    <div class="services__title">Web Design</div>
                    <div class="services__text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod
                        tempor.
                    </div>
                </div>
                <div class="services__item services__item--border">
                    <img class="services__icon" src="./assets/images/services/_OK_icon.png" alt="#">
                    <div class="services__title">Creativity</div>
                    <div class="services__text">
                        Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod
                        tempor.
                    </div>
                </div>
                <div class="services__item">
                    <img class="services__icon" src="./assets/images/services/BOOK_2_icon.png" alt="#">
                    <div class="services__title">seo</div>
                    <div class="services__text">
                        Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.
                    </div>
                </div>
                <div class="services__item">
                    <img class="services__icon" src="./assets/images/services/HOME_icon.png" alt="#">
                    <div class="services__title">Css/Html</div>
                    <div class="services__text">
                        Lorem dolor sit amet, consectetur adipiscing elit, sed do tempor.
                    </div>
                </div>
                <div class="services__item">
                    <img class="services__icon" src="./assets/images/services/IMAGE_icon.png" alt="#">
                    <div class="services__title">digital</div>
                    <div class="services__text">
                        Sit amet, consectetur adipiscing elit, sed do eiusmod tempor.
                    </div>
                </div>
            </div>

        </div>
    </section>
    <!-- /.container-->

    <section class="section  section--devices">
        <div class="container">

            <div class="section__header">
                <h3 class="section__subtitle">For all devices</h3>
                <h2 class="section__title">Unique design</h2>
            </div>
            <div class="devices">
                <img class="devices__item" src="./assets/images/Ipad_img.png" alt="#">
                <img class="devices__item devices__item--iphone" src="./assets/images/iphone_img.png" alt="#">
            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">

            <div class="section__header">
                <h3 class="section__subtitle">Service</h3>
                <h2 class="section__title">what we do</h2>

                <div class="section__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore
                        et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi
                        ut
                        aliquip ex ea commodo consequat. </p>
                </div>
            </div>
            <div class="wedo">
                <div class="wedo__item">
                    <img class="wedo__image" src="./assets/images/img_weDo.jpg" alt="#">
                </div>
                <div class="wedo__item">
                    <div class="accordion">
                        <div class="accordion__item active">
                            <div class="accordion__header">

                                <img class="accordion__icon" src="./assets/images/WeDo_icon/PICTURE__icon.png" alt="#">
                                <div class="accordion__title">Photography</div>
                            </div>
                            <div class="accordion__content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header">

                                <img class="accordion__icon" src="./assets/images/WeDo_icon/EQUALIZER_icon.png" alt="#">
                                <div class="accordion__title">creativity</div>
                            </div>
                            <div class="accordion__content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                        <div class="accordion__item">
                            <div class="accordion__header">

                                <img class="accordion__icon" src="./assets/images/WeDo_icon/BULLSEYE_icon.png" alt="#">
                                <div class="accordion__title">web design</div>
                            </div>
                            <div class="accordion__content">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                                    pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
                                    deserunt mollit anim id est laborum.</p>
                            </div>
                        </div>
                    </div><!-- ./accordion -->
                </div><!-- ./WeDo item -->
            </div><!-- ./>WeDo -->

        </div>
    </section>

    <div class="section section--gray">
        <div class="container">
            <div class="reviews">
                <a class="reviews__btn  reviews__btn--prev"  onclick="sliderPlus(-1)" >prev</a>
                <a class="reviews__btn  reviews__btn--next"  onclick="sliderPlus(1)">next</a>

                <div class="reviews__item ">
                    <img class="reviews__photo" src="./assets/images/reviews_icon2.jpg" alt="#">
                    <div class="reviews__text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation.”</div>
                    <div class="reviews__author">Jon Doe1</div>
                </div>
                <div class="reviews__item">
                    <img class="reviews__photo" src="./assets/images/reviews_icon2.jpg" alt="#">
                    <div class="reviews__text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation.”</div>
                    <div class="reviews__author">Jon Doe2</div>
                </div>
                <div class="reviews__item">
                    <img class="reviews__photo" src="./assets/images/reviews_icon2.jpg" alt="#">
                    <div class="reviews__text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                        exercitation.”</div>
                    <div class="reviews__author">Jon Doe3</div>
                </div>
            </div>
        </div>
    </div><!-- ./reviews -->


    <section class="section">
        <div class="container">

            <div class="section__header">
                <h3 class="section__subtitle">Who we are</h3>
                <h2 class="section__title">Meet our team</h2>
                <div class="section__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>

            <div class="card">
                <div class="card__item">
                    <div class="card__inner">
                        <div class="card__img">
                            <img src="./assets/images/Team_icon/team_img1.jpg" alt="#">
                        </div>
                        <div class="card__text">
                            <div class="social">
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card__info">
                        <div class="card__name">Matthew Dix</div>
                        <div class="card__prof">Graphic Design</div>
                    </div>

                </div>
                <div class="card__item">
                    <div class="card__inner">
                        <div class="card__img">
                            <img src="./assets/images/Team_icon/team_img2.jpg" alt="#">
                        </div>
                        <div class="card__text">
                            <div class="social">
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card__info">
                        <div class="card__name">Christopher Campbell</div>
                        <div class="card__prof">Branding/UX design</div>
                    </div>

                </div>
                <div class="card__item">
                    <div class="card__inner">
                        <div class="card__img">
                            <img src="./assets/images/Team_icon/team_img3.jpg" alt="#">
                        </div>
                        <div class="card__text">
                            <div class="social">
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-facebook-f"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                                <a class="social__item" href="#" target="_blank">
                                    <i class="fab fa-instagram"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="card__info">
                        <div class="card__name">Michael Fertig </div>
                        <div class="card__prof">Developer</div>
                    </div>

                </div>

            </div><!-- ./card -->

        </div><!-- ./container -->
    </section>

    <div class="section__logo section--gray">
        <div class="container">

            <div class="logo_item">
                <img src="./assets/images/Logo__icon.png" alt="#">
            </div>

        </div>
    </div><!-- sectio__logo -->

    <section class="section" id="work">
        <div class="container">

            <div class="section__header">
                <h3 class="section__subtitle">What we do</h3>
                <h2 class="section__title">some of our work</h2>
                <div class="section__text">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat. </p>
                </div>
            </div>

        </div>
        <div class="works">
            <div class="works__col">
                <div class="works__item">
                    <img class="works__image" src="./assets/images/Works_pict/works_1-1.jpg" alt="#">
                    <div class="works__info">
                        <div class="works__title">creatively designed</div>
                        <div class="works__text">Lorem ipsum dolor sit</div>
                    </div>
                </div>
                <div class="works__item">
                    <img class="works__image" src="./assets/images/Works_pict/works_1-2.jpg" alt="#">
                    <div class="works__info">
                        <div class="works__title">creatively designed</div>
                        <div class="works__text">Lorem ipsum dolor sit</div>
                    </div>
                </div>
            </div>

            <div class="works__col">

                <div class="works__item">
                    <img class="works__image" src="./assets/images/Works_pict/works_2-1.jpg" alt="#">
                    <div class="works__info">
                        <div class="works__title">creatively designed</div>
                        <div class="works__text">Lorem ipsum dolor sit</div>
                    </div>
                </div>
                <div class="works__item">
                    <img class="works__image" src="./assets/images/Works_pict/works_2-2.jpg" alt="#">
                    <div class="works__info">
                        <div class="works__title">creatively designed</div>
                        <div class="works__text">Lorem ipsum dolor sit</div>
                    </div>
                </div>

            </div>
            <div class="works__col">

                <div class="works__item">
                    <img class="works__image" src="./assets/images/Works_pict/works_3.jpg" alt="#">
                    <div class="works__info">
                        <div class="works__title">creatively designed</div>
                        <div class="works__text">Lorem ipsum dolor sit</div>
                    </div>
                </div>

            </div>
            <div class="works__col">

                <div class="works__item">
                    <img class="works__image" src="./assets/images/Works_pict/works_4-1.jpg" alt="#">
                    <div class="works__info">
                        <div class="works__title">creatively designed</div>
                        <div class="works__text">Lorem ipsum dolor sit</div>
                    </div>
                </div>
                <div class="works__item">
                    <img class="works__image" src="./assets/images/Works_pict/works_4-2.jpg" alt="#">
                    <div class="works__info">
                        <div class="works__title">creatively designed</div>
                        <div class="works__text">Lorem ipsum dolor sit</div>
                    </div>
                </div>

            </div>
        </div>
    </section><!-- ./works -->



    <section class="section">
        <div class="container">
            <div class="reviews">
                <a class="reviews__btn  reviews__btn--prev"  onclick="sliderPlus(-1)" >prev</a>
                <a class="reviews__btn  reviews__btn--next"  onclick="sliderPlus(1)">next</a>

                <div class="reviews__items2">
                    <img class="reviews__photo" src="./assets/images/reviews_icon2.jpg" alt="#">
                    <div class="reviews__text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua. 
                        exercitation.”</div>
                    <div class="reviews__author">Jon Doe1</div>
                </div>
                <div class="reviews__items2">
                    <img class="reviews__photo" src="./assets/images/reviews_icon2.jpg" alt="#">
                    <div class="reviews__text">“Lorem ipsum dolor sit amet, c. Ut enim ad minim veniam, quis nostrud
                        exercitation.”</div>
                    <div class="reviews__author">Jon Doe2</div>
                </div>
                <div class="reviews__items2">
                    <img class="reviews__photo" src="./assets/images/img_weDo.jpg" alt="#">
                    <div class="reviews__text">“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor a. Ut enim ad minim veniam, quis nostrud
                        exercitation.”</div>
                    <div class="reviews__author">Jon Doe3</div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section--happy">
        <div class="container">

            <div class="section__header">
                <h3 class="section__subtitle">Happy Clients</h3>
                <h2 class="section__title">What people say</h2>
            </div>
            <div class="clients__happy">
                <div class="clients__item">
                    <img class="cients__icon" src="./assets/images/Happi_icon/icon_1.png" alt="#" class="clients_icon">
                    <div class="clients_content">
                        <div class="clients_name">Matthew Dix</div>
                        <div class="clients_prof">Graphic Design</div>
                        <div class="clients_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                    </div>
                </div>
                <div class="clients__item">
                    <img class="cients__icon" src="./assets/images/Happi_icon/icon_3.png" alt="#" class="clients_icon">
                    <div class="clients_content">
                        <div class="clients_name">Nick Karvounis </div>
                        <div class="clients_prof">Graphic Design</div>
                        <div class="clients_text">Sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                    </div>
                </div>
                <div class="clients__item">
                    <img class="cients__icon" src="./assets/images/Happi_icon/icon_2.png" alt="#" class="clients_icon">
                    <div class="clients_content">
                        <div class="clients_name">Jaelynn Castillo </div>
                        <div class="clients_prof">Graphic Design</div>
                        <div class="clients_text">Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</div>
                    </div>
                </div>
                <div class="clients__item"><img class="cients__icon" src="./assets/images/Happi_icon/icon_4.png" alt="#"
                        class="clients_icon">
                    <div class="clients_content">
                        <div class="clients_name">Mike Petrucci</div>
                        <div class="clients_prof">Graphic Design</div>
                        <div class="clients_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- ./clients happy -->

    <section class="section" id="blog">
        <div class="container">

            <div class="section__header">
                <h3 class="section__subtitle">Our stories</h3>
                <h2 class="section__title">Latest blog</h2>
            </div>

            <div class="blog">

                <div class="blog__item">

                    <div class="blog__header">
                        <a href="#">
                            <img class="blog__photo" src="./assets/images/blog-icon/1.png" alt="">
                        </a>
                        <div class="blog__date">
                            <div class="blog__date_day">15</div>
                            <div class="blog__month">jan</div>
                        </div>
                    </div>

                    <div class="blog__content">
                        <div class="blog__title">
                            <a href="#">Lorem ipsum dolor sit amet</a>
                        </div>
                        <div class="blog__text">Consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua.</div>
                    </div>

                    <div class="blog__footer">
                        <div class="blog-stat">
                            <span class="blog-stat__item">
                                <i class="far fa-eye"></i>
                                547

                            </span>
                            <span class="blog-stat__item">
                                <i class="fas fa-comment-dots"></i>17</span>
                        </div>

                    </div>

                </div>

                <div class="blog__item">

                    <div class="blog__header">
                        <a href="#">
                            <img class="blog__photo" src="./assets/images/blog-icon/2.png" alt="">
                        </a>
                        <div class="blog__date">
                            <div class="blog__date_day">14</div>
                            <div class="blog__month">jan</div>
                        </div>
                    </div>

                    <div class="blog__content">
                        <div class="blog__title">
                            <a href="#">incididunt ut labore et dolore</a>
                        </div>
                        <div class="blog__text">Consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua.</div>
                    </div>

                    <div class="blog__footer">
                        <div class="blog-stat">
                            <span class="blog-stat__item">
                                <i class="far fa-eye"></i>
                                547

                            </span>
                            <span class="blog-stat__item">
                                <i class="fas fa-comment-dots"></i>17</span>
                        </div>

                    </div>

                </div>

                <div class="blog__item">

                    <div class="blog__header">
                        <a href="#">
                            <img class="blog__photo" src="./assets/images/blog-icon/3.png" alt="">
                        </a>
                        <div class="blog__date">
                            <div class="blog__date_day">12</div>
                            <div class="blog__month">jan</div>
                        </div>
                    </div>

                    <div class="blog__content">
                        <div class="blog__title">
                            <a href="#">sed do eiusmod tempor</a>
                        </div>
                        <div class="blog__text">Consectetur adipiscing elit,
                            sed do eiusmod tempor incididunt ut labore
                            et dolore magna aliqua.</div>
                    </div>

                    <div class="blog__footer">
                        <div class="blog-stat">
                            <span class="blog-stat__item">
                                <i class="far fa-eye"></i>
                                547

                            </span>
                            <span class="blog-stat__item">
                                <i class="fas fa-comment-dots"></i>17</span>
                        </div>

                    </div>

                </div>

            </div><!-- ./blog -->

        </div>
    </section><!-- ./section-stories -->

    <section class="section section-map">
        <div class="container">
            <div class="map">
                <h2 class="map__title">
                    <div><i class="fas fa-map-marker-alt"></i></div>
                    <a href="https://www.google.ru/maps/@47.7382757,30.2918018,6.5z" target="_blank">Open Map</a>
                </h2>
            </div>
        </div>
    </section>

    <footer class="footer" id="contact">
        <div class="container">

            <div class="footer__inner">
                <div class="footer__col footer__col-one">
                    <div class="footer__logo">MoGo</div>
                    <div class="footer__text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                        laboris nisi ut aliquip ex ea commodo consequat.

                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
                        pariatur.
                        <div class="footer__social">
                            <div class="footer__social-header">
                                <b>15k</b> followers
                            </div>
                            <div class="footer__social-content">
                                Follow Us:
                                <a href="https://www.facebook.com/">
                                    <i class="fab fa-facebook-square"></i>
                                </a>
                                <a href="https://twitter.com/">
                                    <i class="fab fa-twitter"></i>
                                </a>
                                <a href="https://www.instagram.com/?hl=ru">
                                    <i class="fab fa-instagram"></i>
                                </a>
                                <a href="https://www.pinterest.com/">
                                    <i class="fab fa-pinterest-p"></i>
                                </a>
                                <a href="https://www.google.com/">
                                    <i class="fab fa-google-plus-square"></i>
                                </a>
                                <a href="https://www.youtube.com/">
                                    <i class="fab fa-youtube"></i>
                                </a>
                                <a href="https://dribbble.com/">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                                <a href="https://www.tumblr.com/">
                                    <i class="fab fa-tumblr"></i>
                                </a>

                            </div>

                        </div>

                        <form class="subscribe" action="/" method="POST">
                            <input class="subscribe__input" type="email" name="name" placeholder="Your Email...">
                            <button class="subscribe__button" type="submit">Subscribe</button>
                        </form>
                    </div>


                </div><!-- ./footer_col -->
                <div class="footer__col footer__col-two">
                    <div class="footer__title">blogs</div>
                    <div class="blogs">
                        <div class="blogs__item">
                            <img class="blogs__img" src="./assets/images/footer_blogs-icon/01.png" alt="">
                            <div class="blogs__content">
                                <a class="blogs__title" href="#">Lorem ipsum dolor sit amet,
                                    consectetur adipiscing</a>
                                <div class="blogs__date">Jan 9, 2016</div>
                            </div>
                        </div>
                    </div>

                    <div class="blogs">
                        <div class="blogs__item">
                            <img class="blogs__img" src="./assets/images/footer_blogs-icon/02.png" alt="">
                            <div class="blogs__content">
                                <a class="blogs__title" href="#">Consectetur adipiscing elit,
                                    sed do eiusmod tempor</a>
                                <div class="blogs__date">Jan 9, 2016</div>
                            </div>
                        </div>
                    </div>

                    <div class="blogs">
                        <div class="blogs__item">
                            <img class="blogs__img" src="./assets/images/footer_blogs-icon/03.png" alt="">
                            <div class="blogs__content">
                                <a class="blogs__title" href="#">sed do eiusmod tempor
                                    incididunt ut labore</a>
                                <div class="blogs__date">Jan 9, 2016</div>
                            </div>
                        </div>
                    </div>


                </div><!-- ./footer blogs -->
                <div class="footer__col footer__col-three">
                    <div class="footer__title">instagram</div>
                    <div class="instagram">
                        <a class="instagram__items" href="#">
                            <img src="./assets/images/instagram_images/1.jpg" alt="#">
                        </a>
                        <a class="instagram__items" href="#">
                            <img src="./assets/images/instagram_images/2.jpg" alt="#">
                        </a>

                        <a class="instagram__items" href="#">
                            <img src="./assets/images/instagram_images/3.jpg" alt="#">
                        </a>
                        <a class="instagram__items" href="#">
                            <img src="./assets/images/instagram_images/4.jpg" alt="#">
                        </a>
                        <a class="instagram__items" href="#">
                            <img src="./assets/images/instagram_images/5.jpg" alt="#">
                        </a>
                        <a class="instagram__items" href="#">
                            <img src="./assets/images/instagram_images/6.jpg" alt="#">
                        </a>
                        <a class="instagram__items" href="#">
                            <img src="./assets/images/instagram_images/7.jpg" alt="#">
                        </a>
                        <a class="instagram__items" href="#">
                            <img src="./assets/images/instagram_images/8.jpg" alt="#">
                        </a>
                        <a class="instagram__items" href="#">
                            <img src="./assets/images/instagram_images/9.jpg" alt="#">
                        </a>
                    </div><!-- ./instagram -->
                    <div class="instagram__subtitle"><a href="#">
                            View more photos
                        </a></div>
                </div>
            </div><!-- ./footer__inner -->
            <div class="copyright">
                © 2016 MoGo free PSD template by <span>Laaqiq</span>
            </div>
        </div><!-- ./container -->
    </footer>
    <script src="./js/main.js"></script>
</body>

</html>